#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Dev tools
Exec=/usr/bin/gnome-pie -o 342
Encoding=UTF-8
Type=Application
Icon=stock_unknown
StartupWMClass=gnome-pie-342
