#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Customisation
Exec=/usr/bin/gnome-pie -o 987
Encoding=UTF-8
Type=Application
Icon=stock_unknown
StartupWMClass=gnome-pie-987
