#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Useful tools
Exec=/usr/bin/gnome-pie -o 994
Encoding=UTF-8
Type=Application
Icon=stock_unknown
StartupWMClass=gnome-pie-994
